body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color:#f8f8f8;
}
h3{
  line-height: 1.5em!important;
}
.search-field {
  padding: 5px;
  margin-bottom: 50px;
}
.search-box {
  width: 40%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
#input-field{
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 25px;
}
#input-field::placeholder{
  color: #c5c6c7;
}
.search-button {
  background-color: #f16232;
  border: none;
  outline: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 15px 35px;
}
.search-button:hover{
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 20px 29px 0 rgb(207 67 20 / 50%);
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.product{
  height: 100%;
}
.single-product {
  padding: 10px;
  background-color: #ffffff;
  height: 100%;
  cursor: pointer;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.ratings{
  color: #6c6c6c;
}
.ratings i{
  color: #c5c6c7;
  margin-right: 15px;
  margin-left: 5px;
}
#addToCart-btn{
  background-color: #ff7878;
  border: 0;
}
#details-btn{
  background-color: #9c9c9c;
  border: 0;
}
.buy-now-btn{
  background-color: #ff7878;
  border: none;
}
.buy-now-btn:hover{
  background-color: #ff7878;
}